:root {
  --color-primary: #F2552C;
  --color-secondary: #24202e;
  --color-secondary-light: #555;
  --color-secondary-lighter: #888;
  --color-secondary-dark: #1c1a25;
  --gradient-bg: linear-gradient(
    90deg,
    var(--color-secondary-dark) 0%,
    var(--color-secondary) 51%,
    var(--color-secondary-dark) 100%
  );
}

* {
  box-sizing: border-box;
}

body {
  background: var(--color-secondary-dark);
  color: #efefef;
  font-family: monospace;
  padding: 35px 35px 0;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

label {
  display: block;
  padding-bottom: 3px;
}

.form-field {
  padding: 5px;
}

select, input {
  border: 0;
  padding: 12px 18px;
  background: var(--color-secondary);
  color: #efefef;
  font-size: 14px;
}

select:focus, input:focus {
  outline: 1px solid var(--color-primary);
}

input[type=submit] {
  background: var(--color-primary);
  font-weight: bold;
  text-shadow: 1px 1px var(--color-secondary);
}

#table-wrapper {
  position: relative;
  max-width: 100%;
  overflow-x: scroll;
}

.fake-head {
  position: absolute;
}

.fake-head > div {
  display: inline-block;
  padding: 3px 0;
  text-align: center;
  font-weight: bold;
  border-left: 1px solid var(--color-secondary-dark);
  /*border-right: 1px solid var(--color-secondary-dark);*/
  text-shadow: 1px 1px var(--color-secondary);
  background: var(--color-primary);
}

table {
  table-layout: auto;
  width: 100%;
  background: var(--color-secondary);
  border-collapse: collapse;
}

thead, tbody td:first-child {
  font-weight: bold;
}

tr.emergency,
tr.alert,
tr.critical { background: mistyrose; color: red; }
tr.error { color: orangered; }
tr.warning { color: wheat; }
tr.notice { color: skyblue; }

tbody tr:hover {
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-secondary-dark);
}

th, td {
  padding: 3px 5px;
  border: 1px solid var(--color-secondary-dark);
}

h1 {
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
  color: var(--color-primary);
  padding-bottom: 8px;
  border-bottom: 1px dashed var(--color-primary);
}

h2 {
  /*padding-top: 50px;*/
  color: var(--color-primary);
}

h2.title {
  padding-top: 18px;
  text-align: center;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

body.details-view {
  overflow: hidden;
}

.details-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
}

.details-wrapper:hover {
  cursor: pointer;
}

.details-wrapper:before {
  content: 'âŒ';
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 36px;
}

.details-wrapper > div {
  cursor: default;
  margin: 15% 15% 0;
  padding: 18px;
  background: var(--color-secondary-dark);
  border: 1px solid var(--color-primary);
}

.details-wrapper .detail {
  display: flex;
  padding: 8px 12px;
  background: var(--color-secondary);
  margin: 3px;
}

.details-wrapper .detail:hover {
  cursor: pointer;
  background: var(--color-primary);
  color: var(--color-secondary-dark);
}

.details-wrapper .label {
  font-weight: bold;
  padding-right: 5px;
}

.details-wrapper .data {
  word-break: break-all;
}
