:root {
  --color-primary: #F2552C;
  --color-secondary: #24202e;
  --color-secondary-light: #555;
  --color-secondary-lighter: #888;
  --color-secondary-dark: #1c1a25;
}

body {
  background: var(--color-secondary-dark);
  color: #efefef;
  font-family: monospace;
  padding: 50px;
}

select, input {
  border: 0;
  padding: 12px 18px;
  background: var(--color-secondary);
  color: #efefef;
  font-size: 14px;
}

input[type=submit] {
  background: var(--color-primary);
  font-weight: bold;
}

.table-wrapper {
  max-width: 100%;
  overflow-x: scroll;
}

table {
  table-layout: auto;
  width: 100%;
  background: var(--color-secondary);
  border-collapse: collapse;
}

thead, tbody td:first-child {
  font-weight: bold;
}

tr.emergency,
tr.alert,
tr.critical { background: mistyrose; color: red; }
tr.error { color: orangered; }
tr.warning { color: wheat; }
tr.notice { color: skyblue; }
tr:hover {
  cursor: pointer;
  background: var(--color-secondary-light);
}

th, td {
  padding: 3px 5px;
  border: 1px solid var(--color-secondary-dark);
}

h1 {
  text-align: center;
  color: var(--color-primary);
  padding-bottom: 8px;
  border-bottom: 1px dashed var(--color-primary);
}

h2 {
  /*padding-top: 50px;*/
  color: var(--color-primary);
}

h2.title {
  padding-top: 28px;
  text-align: center;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

ul.main-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul.main-menu li {
  margin: 1px;
  padding: 5px 8px;
  background: var(--color-secondary);
}

body.details-view {
  overflow: hidden;
}

.details-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.8);
}

.details-wrapper:hover {
  cursor: pointer;
}

.details-wrapper:before {
  content: 'X';
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 36px;
}

.details-wrapper > div {
  cursor: default;
  margin: 15% 15% 0;
  padding: 18px;
  background: var(--color-secondary);
  border: 1px solid var(--color-primary);
}

.details-wrapper .detail {
  display: flex;
  padding-bottom: 8px;
}

.details-wrapper .label {
  font-weight: bold;
  padding-right: 5px;
}
